/*
 Reset. Everyone does this these days apparently.
*/
body, table {
    margin: 0;
    padding: 0;
}

/* 
Ref: http://www.miltonbayer.com/font-face/
 &   http://paulirish.com/2009/fighting-the-font-face-fout/ 

License: http://www.fontsquirrel.com/license/Colaborate

*/

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('font/ColabThi-webfont.eot');
    src: url('font/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ColabThi-webfont.woff') format('woff'),
         url('font/ColabThi-webfont.ttf') format('truetype'),
         url('font/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('font/ColabLig-webfont.eot');
    src: url('font/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ColabLig-webfont.woff') format('woff'),
         url('font/ColabLig-webfont.ttf') format('truetype'),
         url('font/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateRegular';
    src: url('font/ColabReg-webfont.eot');
    src: url('font/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ColabReg-webfont.woff') format('woff'),
         url('font/ColabReg-webfont.ttf') format('truetype'),
         url('font/ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('font/ColabMed-webfont.eot');
    src: url('font/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ColabMed-webfont.woff') format('woff'),
         url('font/ColabMed-webfont.ttf') format('truetype'),
         url('font/ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('font/ColabBol-webfont.eot');
    src: url('font/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ColabBol-webfont.woff') format('woff'),
         url('font/ColabBol-webfont.ttf') format('truetype'),
         url('font/ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
*/

/* Colours
   http://colorschemedesigner.com/#1S62L-------- */

body {
    background-color: #fafffe;
}

#content {
    background-color: #ffffec;
    background-color: #fafffe;
    color: #4d2500;
}

a {
    color: #408075;
}
a:visited {
    color: #684080;
}

/* fonts */

body {
    font-family: 'ColaborateLightRegular';
    font-size: 12pt;
    line-height: 1.30em;
}

strong, h1, h2, h3 {
    font-family: 'ColaborateRegular';
    font-weight: normal;
}

/* Layout */

/* 10px gutters and 80px columns
*/

#content { /* 2 columns and 2 gutters over and 7 columns wide */
    margin-left: 180px;
    width: 610px;
    /* */
    padding-top: 14px;
}

/* defaults: gutter then 6 columns */
#content section, #content header, #content footer {
    margin-left: 10px;
    width: 530px;
}

#content section#posts {
    margin-left: 0;
    width: 600px;
    padding-left: 10px;
    padding-bottom: 14px;
    border: 2px solid #1d1d00;
    border-width: 2px 0 0 0;
    background-color: #ffe8d2;
}

section#posts ol {
    list-style: none;
}

#content footer.elsewise {
    margin-left: 0;
    width: 600px;
    padding-left: 10px;
    border: 2px solid #1d1d00;
    border-width: 2px 0 2px 0;
/*    background-color: #fff6ed; */
}

#content footer.copyright {
    margin-left: 0;
    width: 600px;
    padding-left: 10px;
    padding-bottom: 16px;
}

header#banner {
    margin-left: 180px;
}
